html {
  background: #e3e3e3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10%;
  margin-top: 10px;
  padding: 3%;
  color: #242424;
  border-top: 10px solid #242424;
  background: #fff;
}

header {
  background: #9f4c15;
  text-align: center;
  padding: 5px;
  
}

.title-text {
  margin: 10px;
  padding: 0px;
  width: auto;
  text-align: center;
  font-size: 1.3em;
}


nav ul {
  text-align: center;
  font-size: 1.2em;
  list-style: none;
  padding: 10px;
}

nav li {
  display: inline;
  margin: 20px;
}

nav {
  position: sticky;
  top: 0;
  background: #9f4c15;
}

nav a{
  text-decoration: none;
  color: #fff;
}


h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: #fff;
}

h2{
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;

}

h3{
  text-align:left;
  font-size: 1.7em;
  margin: 0;
  padding: 0;
}

h4 {
  text-align: center;
  font-size: 1.9em;
  margin: 0 auto;
  padding-top: 20px;
}

.author {
  text-align: left;
  font-size: 0.8em;
}

time {
  text-align: left;
  font-size: 0.8em;
}

p {
  line-height: 1.6em;
  width: 80%;
  margin: 0%;
  padding: 5%;
}

.img-template1 {
  background: no-repeat center / cover url(Images/RawBean.jpeg);
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.img-template2 {
  background: no-repeat url(Images/RoasteryMAN.jpeg);
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  background-position: 0px -50px;
  margin-bottom: 20px;
}

.img-template3 {
  background: no-repeat center / cover url(Images/RoastedBean.jpeg);
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.img-template4 {
  background: no-repeat center / cover url(Images/GroundTurkish.png);
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.img-template5 {
  background: no-repeat center / cover url(Images/DSC_4786.jpg);
  padding-top: 66.5%;
  width: 100%;
  margin-bottom: 20px;
}

.img-template6 {
  background: no-repeat center / cover url(Images/MeROASTER.jpeg);
  height: 850px;
  border-radius: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

#blog {
  border-top: 5px solid #000000;
  width: 100%;
}

.blog-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.blog-content {
  width: 100%;
  flex: 2;
}

.blog-image {
  flex: 1;
  padding: 20px;
}

article {
  width: 100%;
  margin: 20px;
}

#table-data h3{
  text-align: center;
  margin: 10px;
}

table{
  border-collapse: collapse;
  margin: 0 auto;
  width: 60%;
  border: 2px solid #000;
}

th {
  text-align: center;
  border: 2px solid #000;
  padding: 4px;
}

tr {
  
  border: 2px #000;
}

td {
  text-align: center;
  border: 2px solid #000;
  padding: 4px;
}

.title-table {
  background-color: #e9ae87;
}

.newsletter-sign {
  margin-top: 30px;
  border-top: 4px solid #000;
  padding: 20px;
}

.newsletter-sign h2{
  font-size: 1.7em;
  font-family: 'Courier New', Courier, monospace;
}

form{
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  padding: 10px;
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  background-color: #9f4c15;
  border-radius: 10%;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.profile-picture img {
  height: 30%;
  width: 30%;
  border-radius: 15px;
  margin: 45px 15px 10px 30px;
  float: left;
}

.hobby-list {
  margin: 40px 20px 20px 20px;
  font-size: 1.3em;
  color:#242424 ;
  float: right;
}

#communicate {
  padding: 20px;
  border-top: 2px solid #000;
  margin: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#communicate form{
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
}

#communicate input{
  width: 40%;
  margin: 0 auto;
}

#communicate label {
  padding: 10px 0;
}

#communicate select{
  width: 60%;
}

#communicate textarea{
  margin: 10px;
}

input[type="e-mail"] {
  background-color: #959494;
}














